.eventsHeroImage {
	background-image: url("/images/EventsImages/Layer 1.png");
	height: 50vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

.monthNames {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 5px;
}

.flatButton {
	border-radius: 0;
	transition: background-color 0.3s ease;
	background-color: #303234;
	color: #dfdfdf;
	padding-inline: 13px;
}

.flatButton:hover {
	background-color: #fcfcfc !important;
	color: #303234 !important;
}

.activeButton {
	background-color: #fcfcfc !important;
	color: #303234 !important;
	font-weight: bold;
}

.findMoreBtn {
	background-color: #303234;
	color: #dfdfdf;
	padding-inline: 10px;
	border: 1px solid white;
	border-radius: 2px;
	font-size: 12px;
}

@media (min-width: 426px) {
	.monthNames {
		justify-content: flex-start;
	}
}

@media (min-width: 769px) {
	.eventsHeroImage {
		height: 100vh;
	}
}

@media (min-width: 1000px) {
	.eventsHeroImage {
		height: 80vh;
	}
}
