.menuBanner {
  background-image: url("/images/menu-page/bg-img.png");
  height: calc(80vh - 84px);
  width: 100%;
}

.bannerCard {
  position: relative;
  overflow: hidden;
  height: 350px;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 2px solid #f5efdb;
  text-decoration: none;
}

.bannerCard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.iconLink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.bannerCard:hover .iconLink {
  opacity: 1;
  pointer-events: auto;
}

.bannerCard:hover {
  cursor: pointer;
}

.mainBg {
  background-color: #b4b8ae;
}
.customBtn {
  background-color: transparent;
  color: #000;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.listedDrinks {
  margin-top: 2rem;
  width: calc(50% - 1rem);
}
.listedDrinks img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.popularCard {
  padding: 40px 40px;
  background-color: #242424;
  color: #c0c6ba;
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 80%;
  box-sizing: border-box;
}

.popularCardText {
  color: #dcca87;
}
.popularCardImg {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.popularCardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
